#loginContainer {
    width: 100%;
}

#loginContainer a.btn {
    padding: 10px;
    width: 250px;
    position: relative;
    left: 50%;
    margin-left: -125px;
    margin-top: 25px;
}

#loginContainer p {
    margin-top: 25px;
}
